<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <title>{{= title }}</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/custom.css" rel="stylesheet"/>
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/css/context.bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <section id="toolbars">
        <section id="Section1">
        <!-- Top menu toolbar -->
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <ul class="nav" id="menu">
                        <li><a class="brand">P.Eng</a></li>
                        <li ><a href="/portfolio" id="portfolio">Portfolio Manager</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="active"><a href="/help"><i class="icon-question-sign icon-white" ></i> Help</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#user" id="username">
                                <i class="icon-user icon-white" ></i>
                                {{= username }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                                <li><a href="/mailbox"><i class="icon-inbox"></i> Inbox</a></li>
                                <li class="divider"></li>
                                <li><a type="submit" href="/logout" id="logoutbtn"><i class="icon-off"></i> Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- libs -->
    <script src="./js/lib/jquery-2.0.2.min.js"></script>
    <script src="./js/lib/bootstrap.min.js"></script>

</body>
</html>
